{
    "misp": {
        "url": "",
        "key": ""
    },
    "eve_json": "/var/log/suricata/eve.json",
    "suricata_socket": "/var/run/suricata/suricata-command.socket",
    "metadata": "sightings",
    "tmp_file": "/tmp/last_run",
    "rule": "path_of_your_rule",
    "sources": {
        "misp": {
            "datasets": {
                "ip-src": {
                    "name": "ips",
                    "type": "string"
                },
                "ip-dst": {
                    "name": "ips",
                    "type": "string"
                },
                "hostname": {
                    "name": "dbl",
                    "type": "string"
                },
                "domain": {
                    "name": "dbl",
                    "type": "string"
                },
                "user-agent": {
                    "name": "dbl",
                    "type": "string"
                }
            }
        }
    }
}
